/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
}

/* just for debugging, to see how elements align */   
/* * {
    border: 1px dashed #fbfd0d;    
} */


html {
		font-size: 100%;
}

body {
    font: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    
    background: rgb(230, 230, 230);
    background-image: url(images/brushed_alu_dark.png);
    background-attachment: fixed;    
}

#content h1:first-of-type {
    text-align: center;
}

#pageWrapper {
    min-width: 550px;
    width: 80%;
    margin: 0 auto;
}

#navContainer {
    margin: 10px 0 0 0;
    position: relative;
}

#content {
    margin: 0 1.3em;
    padding: 1em;
    background-color: #eeeeee;
}

.navbar {
    font-size:1.3em;
    font-weight:bold;
    text-align: center;
    
    /*border: 1px dashed #fbfd0d;*/
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    
    margin: 0.3em 2em;
    
    /*border: 1px dashed #fbfd0d;*/
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    
    /*border: 1px dashed #fbfd0d;*/
}
 
/* ================ main ribbon ============== */
.ribbon {    
    background: #a5c9d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#a5c9d9), to(#2c52ab));
    background: -webkit-linear-gradient(top, #a5c9d9, #2c52ab);
    background: -moz-linear-gradient(top, #a5c9d9, #2c52ab);
    background: -ms-linear-gradient(top, #a5c9d9, #2c52ab);
    background: -o-linear-gradient(top, #a5c9d9, #2c52ab);
    
    /* IE only */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5c9d9', endColorstr='#2c52ab');
    
    background-image: -ms-linear-gradient(top, #a5c9d9 0%, #2c52ab 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 3px 3px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 3px 3px;
    box-shadow: rgba(000,000,000,0.3) 0 8px 8px;    
}
/* ========= these are the ribbon ends ======== */
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1.3em;
   border: 1.5em solid #2c52ab;
   z-index: -1;
   
   font-size: 10px!important; 
   }
.ribbon:before {
   left: -4em;
   border-right-width: 6em; /* length of ribbon end */
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -4em;
   border-left-width: 6em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
/* ============== ribbon foldbacks ============ */  
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #163b85 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }

.ribbon .ribbon-content:before {
   left:  0;
   border-width: 1em 0 0 1em;
   }

.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
/* ================================================ */

.clearfix:after {
		content: "should not see this following the element this is applied to";
		display: block;
		height: 0;
		clear: both;
  visibility: hidden;
}






